# FIX REFRESH "react-scripts": "4.x"
# https://github.com/facebook/create-react-app/issues/9984
FAST_REFRESH=false

PORT=

REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_GOOGLE_SECRET_KEY=

REACT_APP_REDIRECT_URL=
REACT_APP_GITHUB_REDIRECT_URL=

REACT_APP_GITHUB_CLIENT_ID=
REACT_APP_GITHUB_CLIENT_SECRET=

REACT_APP_BACKEND_HOST=